html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    min-width: 100%;
}
#sidebar {
    position: fixed;
    float: left;
    min-height: 100%;
    min-width: 250px;
    height: 100%;
}
#logo {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    min-height: 65px;
    text-align: center;
    vertical-align: middle;
    line-height: 65px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
#sidebarMenu {
    position: relative;
    font-size: 14px;
    overflow-y: auto;
    color: rgba(0, 0, 0, 0.0);
    height: calc(100% - 65px);
    border-radius: 3px;
    transition: color .3s ease;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2);
}
#sidebarMenu:hover {
    color: rgba(0, 0, 0, 0.3);
}
#sidebarMenu::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
    width: 12px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
#sidebarMenu::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    height: 20px;
    width: auto;
}
#sidebarMenu li {
    margin: 5px 5px 5px 5px;
    border-radius: 5px;
    padding: 15px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}
header {
    position: sticky;
    min-width: calc(100% - 250px);
    display: block;
    top: 0px;
    z-index: 10;
    padding-right: 12px;
    padding-left: 30px;
    height: 65px;
}
.header_button {
    float: right;
    text-align: center;
    width: 50px;
    height: 65px;
    transition: background-color .3s ease;
    cursor: pointer;
}
.header_button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.header_button img {
    position: relative;
    margin-top: 15px;
    width: 30px;
    height: auto;
}
#content {
    position: absolute;
    width: calc(100% - 250px);
    min-height: 100%;
    float: left;
    left: 250px;
    z-index: -1000;
}
#wrapper {
    margin: 30px 20px;
}
.page {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
#search_bar {
    position: relative;
    margin-left: 15px;
    margin: 12px 0px;
    display: inline-block;
    z-index: 100;
    width: auto;
    padding: 10px 10px 12px 70px;
    border-radius: 3px;
    border: 0px;
    transition: background-color .3s ease;
    background: rgba(255, 255, 255, 0.5);
    background-image: url('../img/search-24px.svg');  
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    color: #111;
}
#search_bar::placeholder {
    color: #111;
}
#search_bar:hover {
    background: rgba(255, 255, 255, 0.3);
    background-image: url('../img/search-24px.svg');  
    background-position: 30px 10px; 
    background-repeat: no-repeat;
}
#search_bar:active {
    background: rgba(255, 255, 255, 0.3);
    background-image: url('../img/search-24px.svg');  
    background-position: 30px 10px; 
    background-repeat: no-repeat;
}
.box {
    position: relative;
    padding: 0px;
    border-radius: 1px;
    float: left;
}

#notifications {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
    z-index: 1000000000;
    right: 12px;
    top: 80px;
    position: fixed;
    background-color: #fff;
    border: solid 1px rgb(210, 210, 210);
    border-radius: 5px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}
.notifications_title {
    padding: 15px 20px 15px 20px;
    margin: 0px;
    border-radius: 5px;
    border-bottom: 1px solid rgb(210, 210, 210);
}
#clear_notifications {
    position: fixed;
    display: inline-block;
    padding: 5px;
    right: 22px;
    top: 93px;
    border-radius: 5px;
    font-size: 12px;
    transition: background-color 0.2s ease-out;
    color: #fff;
    cursor: pointer;
    border: 1px solid #rgb(173, 16, 47);
}
#notifications_counter {
    visibility: hidden;
    top: -40px;
    left: 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    cursor: pointer; 
    width: 18px;
    height: 18px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 58, 58, 0.9);
}
#notifications_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 350px;
    overflow: scroll;
    overflow-x: hidden;
}
#notifications_list li {
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    transition: background-color 0.2s ease-out;
    border-radius: 5px;
}
#notifications_list::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
    width: 12px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
#notifications_list::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
    color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
    width: 12px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid transparent;
}
::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
    color: rgba(0, 0, 0, 0.3);
}
.button {
    border-color: #999;
    margin: 5px;
    background-color: #fff;
    border: solid 1px rgba(45, 0, 160);
    min-width: 120px;
    height: 45px;
    font-size: 13pt;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 3px rgba(45, 0, 160);
    transition: background-color 0.4s;
}
.on {
    background-color: rgba(45, 0, 160, 0.8);
    color: #fff;
    box-shadow: 0px 3px #ff4081;
    border: solid 1px #333;
}
.off {
    background-color: #fff;
}
button:focus {
    outline: 0;
}
button:hover {
    background: rgba(0, 50, 210, 0.7);
    border: solid 1px rgb(45, 0, 160);
    color: #fff;
}
button:active {
    color: #fff;
    transform: translateY(3px);
    box-shadow: 0px 0px 0px 0px;
}
